# .env.example
# Pact Broker Configuration
PACT_BROKER_URL=
PACT_BROKER_USERNAME=
PACT_BROKER_PASSWORD=

# Pact Provider Details
PACT_PROVIDER_NAME=
PACT_PROVIDER_VERSION=

# Other config
SERVER_PORT=
